/* Réinitialisation des styles par défaut */
html, body {
  margin: 0;
  padding: 0;
}

/* Styles de base pour le corps du site */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #21252b;
  color: #abb2bf;
}

/* Styles pour les liens */
a {
  color: rgb(235, 74, 72);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Styles pour les titres */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: bold;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

/* Styles pour les conteneurs */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Ajoutez vos propres styles ci-dessous */
